
<body>
  <div class="container">
      <div class="ease">
          <div  class="list-container">
              
                  <article class="profile">
                    <img src="../../assets/img/profile/1.jpeg" class="picture">
                    <span class="name">weworewhat</span>
                  </article>
                  
                  <article class="profile">
                    <img src="../../assets/img/profile/2.jpeg" class="picture">
                    <span class="name">iamwellandgood</span>
                  </article>
                  
                  <article class="profile">
                    <img src="../../assets/img/profile/3.jpeg" class="picture">
                    <span class="name">true.living_</span>
                  </article>
                  
                  <article class="profile">
                    <img src="../../assets/img/profile/4.jpeg" class="picture">
                    <span class="name">djordje.s1</span>
                  </article>

                  <article class="profile">
                      <img src="../../assets/img/profile/5.jpeg" class="picture">
                      <span class="name">lukaqanic1</span>
                  </article>

                  <article class="profile">
                      <img src="../../assets/img/profile/6.jpg" alt="Elizabeth Holmes" class="picture">
                      <span class="name">tzs_niinaa</span>
                  </article>


                    <div class="btn">
                      <button (click)="unlock()">Unlock Profiles</button>
                    </div>

          </div>
      </div>
  </div>
<body>

